body {
	padding-top: 60px;
	background: #90a4ae;
}
.container {
	margin-top: 15px;
	margin-bottom: 15px;
	width: 100%;
}
[class*='col'] div.list-group {
	margin: 0;
}
.stronger {
	font-size: 120%;
}
.list-group-item img {
	max-width: 16px;
}
.list-group-item.partactive, .list-group-item.partactive:focus, .list-group-item.partactive:hover {
	background-image: -webkit-linear-gradient(top, #c4e3f3 0, #2b669a 100%);
	background-image: -o-linear-gradient(top, #c4e3f3 0, #2b669a 100%);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#c4e3f3), to(#2b669a));
	background-image: linear-gradient(to bottom, #c4e3f3 0, #2b669a 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#c4e3f3b7', endColorstr='#ff2b669a', GradientType=0);
	color: #fff;
}
.list-group-item > .btn, .btn-group, .btn-group > button.btn.roomController {
	width: 100%;
}
.btn-group > button.btn.lightController {
	width: calc(100% - 42px);
}
.PHWA01, .ZLLPresence, .ZLLLightLevel, .CLIPGenericStatus, .HA_GEOFENCE {
	display: none;
}
.mdi-window-minimize {
	transform: rotate(90deg);
	display: inline-block;
}
.panel-default > .panel-heading {
	background-color: #222;
	color: #efefef;
	border-color: #222 !important;
}